:root {
    --main-blue: #0A2342;
    --accent-ocean: #2CA58D;
    --accent-salad: #84BC9C;
    --contrast-wheat: #FFFDF7;
    --contrast-neon-pink: #F46197;
}

* {
    font-family: Candara, Calibri, Segoe, Segoe UI, Optima, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    height: 100vh;
}

.main {
    padding-top: 5vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
    
    .header {
        color: var(--contrast-wheat);
    }
    
    .grid-and-buttons-container {
        --grid-dimension: 350px;
        --button-container-width: 90px;
        width: calc(var(--grid-dimension) + var(--button-container-width) * 2);

        display: flex;

        .button-container {
            width: 90px;
            position: relative;
            right: 2vw;
            
            display: flex;
            flex-direction: column;
            gap: 2vh;

            button {
                width: 90px;
                height: 35px;
                background-color: var(--main-blue);
                border: solid 1px var(--accent-ocean);
                border-radius: 4px;
                
                color: var(--contrast-wheat);
                font-size: 14pt;

                cursor: pointer;

                transition: 0.5s;
            }
            
            button:hover {
                background-color: rgba($color: var(--main-blue), $alpha: .0);
                transition: 0.9s;
            }
            
            button:active {
                border: solid 1px var(--contrast-neon-pink);
                transition: 0s;
            }
            
            .active-button {
                border: solid 1px var(--contrast-neon-pink);
                transition: 0.5s;
            }
            
            .clear-button {
                margin-top: auto;
            }
        }

        .grid-container {
            width: var(--grid-dimension);
            height: var(--grid-dimension);

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .grid-row {
                height: 100%;
                width: 100%;

                display: flex;
                justify-content: space-between;

                .cell {
                    height: 100%;
                    width: 100%;
                    background-color: var(--accent-ocean);
                    outline: 1px solid black;
                }
                
                .cell:hover {
                    background-color: var(--accent-salad);
                }
                
                .cell-active {
                    background-color: var(--contrast-neon-pink);
                }
            }
        }
    }
        
    .slider-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.75vh;
        
        font-size: 18pt;

        .slider-value {
            color: var(--contrast-wheat);
        }
        
        .slider {
            appearance: none;
            width: 100%;
            height: 20px;
            background: var(--main-blue);
            border: solid 1px var(--accent-ocean);
            border-radius: 2px;

            cursor: pointer;
        }
        
        .slider::-webkit-slider-thumb {
            appearance: none;
            width: 20px;
            height: 20px;
            background: var(--accent-salad);
        }
    }
}